.chatLog {
    width: 80px;
    height: 800px;
    max-width: 600px; /* Optional: Set a maximum width for larger screens */
    max-height: 800px; /* Optional: Set a maximum height for larger screens */
    background-color: whitesmoke;
    margin: auto;
    border: 1px solid #ccc;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

#message-container {
    display: flex;
    flex-direction: column-reverse;
}

.message {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.container {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #212121;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.message {
    display: flex;
    justify-content: flex-end;
    background-color: ghostwhite;
    padding: 10px;
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100vw;
    max-width: 80%;
}

.user-message {
    background-color: papayawhip;
    justify-content: flex-start;
}

.input-container {
    font-family: 'Montserrat', sans-serif;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    font-family: 'Montserrat', sans-serif;
    flex: 1;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-right: 5px;
}

button {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
}

button:hover {
    background-color: lightgrey;
}

.hidden {
    display: none;
}

.loader {
    display: flex;
    justify-content: center;
}

.image {
    display: flex;
    justify-content: flex-end;
    background-color: ghostwhite;
    padding: 10px;
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
    place-self: center;
    max-width: 80%;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 10px;
    animation: bounce 0.6s infinite alternate;
    display: inline-block;
}

.dot1 {
    animation-delay: 0.2s;
    margin-left: 2px;
    margin-right: 2px;
}

.dot2 {
    animation-delay: 0.4s;
    margin-left: 2px;
    margin-right: 2px;
}

.dot3 {
    animation-delay: 0.6s;
    margin-left: 2px;
    margin-right: 2px;
}

.title {
    background-color: #414050;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: unset;
    border-bottom: solid;
    border-color: black;
}

@keyframes bounce {
    to {
        transform: translateY(-10px);
    }
}
